@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;   
}

h1{
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
    color:#483C32;
}
#parent{
    width:100%;
}

#login{
    
    background-color: pink;
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
    padding: 30px;
    border-radius: 12px;
    
}
#register{
    background-color: #98fb98;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 12px;
}
.lbl{
    font-size: small;
    
}
.btn{
    color:#000;
    border-color: #000;
    
}
.btn:hover{
    border-color: #000;
    color:#000;
    font-weight: 700;
    background-color:#0000 ;
}

.fab{
    color:#fff;
    background-color: ;
}